.register-template {
    --brand-green: #80b741;
    --brand-grey: rgb(136, 136, 136);
    --border-grey: rgb(204, 204, 204);
    --border-grey-light: rgb(238, 238, 238);

    --tww-green: #80b741;
    --tww-dark-grey: #414444;
    --tww-medium-grey: #6d6d6d;
    --tww-medium-light-grey: #a8a8a8;
    --tww-light-grey: #ddddde;
    --tww-beige: #dcd4cb;

    --white: white;
    --tww-white: white;

    --black: rgb(0, 0, 0);
    --red: rgb(153, 27, 27);

    --active: rgb(220, 252, 231);
    --active-alt: rgb(22, 101, 52);
    --canceled: var(--red);
    --pending: rgb(255, 255, 0);
}

.register-template .tww-change-plan-modal--inner, .tww-plus-modal__inner {
    padding: 0;
    border: none;
}

.register-temlate__order-summary-header div {
    font-size: 12px;
    font-weight: 500;
    color: var(--tww-medium-grey);
    margin-bottom: 10px;
}

.register-template__entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--tww-medium-grey);
    border-bottom: 1px solid var(--tww-medium-grey);
    padding: 10px 0;
    font-size: 14px;
}

.register-template__entry--total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.register-template {
    padding: 0;
}

.register-template button {
    cursor: pointer;
}

.register-template__order-summary {
    position: fixed;
    right: 0;
    width: 300px;
    background: var(--tww-light-grey);
    height: 100%;
    top: 0;
    padding: 60px 48px;
}

.register-template .tww-plus-modal__content {
    text-align: left;
}

.register-template .tww-change-plan-modal--inner, .tww-plus-modal__inner {
    width: auto;
}

.register-template-container {
    margin: 0 auto;
    padding-right: 400px;
}

.register-checkout {
    margin: 0 auto;
    max-width: 450px;
}

.tww-step {
    max-width: 450px;
    width: 100%;
}

.tww-step .tww-plus-login__fields-wrapper label {
    font-weight: bold;
    margin-bottom: 5px;
}

.tww-step--open {
    display: block;
}

.tww-step--when-open {
    display: block;
    max-height: 0;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease, max-height .3s ease; /* Faster opacity and visibility transition */
    visibility: hidden;
    padding: 0;
}

.tww-step--when-open-inner {
    padding: 20px 20px 40px;
}

.tww-step--open .tww-step--when-open {
    display: block;
    max-height: 1000px;
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0.2s ease, max-height .3s ease; /* Faster opacity and visibility transition */
    visibility: visible;
}

.tww-step--open .tww-step__header {
    border-top: 2px solid #000;
    transition: .2s border-top ease;
}

.tww-step__header {
    border-top: 1px solid #000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 3px;
    transition: .2s border-top ease;
}

.tww-step__mini-description,
.tww-step__edit {
    margin-left: 20px;
}

.tww-step__edit {
    color: var(--tww-medium-grey);
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

.tww-step--open .tww-step__mini-description,
.tww-step--open .tww-step__edit {
    margin-left: 20px;
}

.tww-step:last-child .tww-step__header {
    border-bottom: 1px solid #000;
}
/** test */

.tww-step__header,
.tww-step__header .tww-step--when-collapsed {
    display: flex;
    align-items: center;
}

.tww-step__header h4 {
    font-weight: bold;
    font-size: 18px;
}

.tww-step__header h4,
.tww-step__header .tww-step--when-collapsed {
    color: var(--tww-medium-grey);
}

.tww-step--open .tww-step__header h4,
.tww-step--open .tww-step__header .tww-step--when-collapsed {
    color: var(--black);
}



.tww-step--account .has-account {
    height: auto;
    transition: .3s all ease;
    opacity: 1;
}

.register-template #tww-login-form input[type="password"],
.register-template #tww-login-form input[type="text"],
.register-template #tww-login-form input[type="email"] {
    border-radius: 4px !important;
    border: 1px solid var(--brand-green) !important;
    height: 50px;
    width: 100% !important;
    display: flex;
    padding: 0 10px;
}

.register-template #tww-login-form input[type="password"] {
    border-radius: 4px !important;
}

.tww-plus-login__password {
    position: relative;
}

.register-template .tww-plus-password-eye-btn {
    position: absolute;
    right: 0;
    cursor: pointer;
    background: transparent !important;
    outline: none !important;
    border: 0 !important;
    padding: 0 20px;
    color: var(--tww-dark-grey);
    top: 25%;
}

.register-template #tww-login-form button[type="submit"] {
    transform: none;
    box-shadow: none !important;
    width: 120px;
    text-align: center;
    height: 50px;
    border: 1px solid var(--brand-green) !important;
    right: 0;
    top: 0;
    border-radius: 4px !important;
    z-index: 9;
    background: var(--brand-green);
    color: var(--white);
    position: relative;
    width: 100%;
}

.register-template #tww-login-form a.loader-default:disabled,
.register-template #tww-login-form button.loader-default:disabled {
    cursor: not-allowed !important;
    background-color: var(--brand-grey) !important;
    border: none !important;
}

.register-template #tww-login-form input.invalid {
    border: 1px solid #b32d2e !important;
}